@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(246, 246, 246);
  --foreground: rgb(38, 38, 39);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(18, 18, 18);
    --foreground: rgb(255, 255, 255);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}