FILE_MYWEB_DATABASE_URL=postgresql://user:password@localhost:4004/db?schema=public
FILE_MYWEB_ALLOWED_ORIGINS=http://localhost:5004
FILE_MYWEB_REDIS_URL=redis://localhost:6001
FILE_MYWEB_S3_URL=http://localhost:8000
FILE_MYWEB_S3_ACCESS_KEY=
FILE_MYWEB_S3_SECRET_KEY=
FILE_MYWEB_S3_REGION=ap-south-1
FILE_MYWEB_S3_BUCKET_NAME=lyadhgod_file

FILE_MYWEB_AUTH_API_BASE_URL=http://localhost:3001
FILE_MYWEB_AUTH_BETTERAUTH_API_BASE_PATH=/auth/api/auth
FILE_MYWEB_AUTH_BETTERAUTH_API_JWKS_ISS=http://localhost:3001

GITHUB_USER=
GITHUB_TOKEN=
